body{
background-color:black;
margin:0;
text-align:center;

}
p{
font-family: 'Merriweather', serif;
font-size:30px;
}
.intro{
background-color: #80BDAB;
padding-top: 190px;

}
.middle{
padding-top:100px;
position:relative;



text-align:center;
background-color:#B5EAEA;
}
.bottom{
margin-top:-40px;
background-color:black;
}
.pro{
 text-decoration:underline;
}
.mountain{


}
#cloud1{
position:absolute;
left:60%;
top:10%;

}
.cloud{
position:absolute;
top:30%;
left:30%;
}
.name{
font-size:30px;
font-family: 'Sacramento', cursive;

}
.flybit{
height:20%;
position:absolute;
left:30%;
top:10%;


}
.profile{
height:8%;
position:fixed;
left:10px;
top:10px;
}
.profilediv{
margin:0;
background-color:#93B5C6;
position:fixed;
padding-top:0.5%;
padding-right:100%;
left:0px;
top:0px;



}
.sub{
position:relative;
left:60%;
font-size:150%;
}
.hellowordld{

height:100px;
position:absolute;

}
.about{
height:100px;
}
.aboutme{
position:absolute;
left:44%;
}

.para{
position:relative;
top:-100px;
font-family: 'Merienda One', cursive;
line-height:2;
color:#515E63;
}
.skill{
position:relative;
top:-100px
}
.hob{

top:100px;
left:-10px;

}
.hobtxt{
padding-top:100px;
top:50px;

left:-100px;
}
.ani1{
]
padding-top:100px;
}
a{
color:white;
}
.logo{

position:relative;
left:44%;
}
td{
padding:10px;
}
.abt{
position:fixed;
top:3%;
right:0px;
}


